<div class="panel panel-default col-md-6 col-md-offset-3" id=registrationForm ng-controller="registerCtrl as vm">
             <div class="col-xs-12 ">
	<h3 >Register User</h3>
    <hr>
    </div>
	<form name="form" ng-submit="vm.validateRegisterData()" role="form" >
        	<div class="form-group no-padding">
        	  <div class="col-xs-12">
            <div class="col-xs-6 ">
            <div class="form-group"
			ng-class="{ 'has-error': (form.firstName.$dirty && form.firstName.$error.required)  || 
			form.firstName.$dirty && form.firstName.$error.pattern}">
			<label for="firstName">First name*</label> 
			<input 
			    type="text"
				name="firstName" 
				id="firstName" 
				class="form-control"
				ng-model="vm.user.firstName"
				required
				ng-pattern="/^[a-zA-Z\s]+$/"
				/> <span
				ng-show="form.firstName.$dirty && form.firstName.$error.required"
				class="help-block">First Name is required</span>
				<span
				ng-show="form.firstName.$dirty && form.firstName.$error.pattern"
				class="help-block">Number not accepted</span>
		    </div>
            </div>
       <div class="col-xs-6">
								
		<div class="form-group"	
			ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.pattern }">
			<label for="username">Last name</label> <input type="text" 
				name="lastName" id="Text1" class="form-control"
				ng-model="vm.user.lastName"
				ng-pattern="/^[a-zA-Z\s]+$/"  /> 
				<!-- <span
				ng-show="form.lastName.$dirty && form.lastName.$error.required"
				class="help-block">Last Name is required</span> -->
				<span
				ng-show="form.lastName.$dirty && form.lastName.$error.pattern"
				class="help-block">Number not accepted</span>
		</div>
           
        </div>
        </div>



        </div>
        <div class="col-xs-12">
		<div class="col-xs-6 ">
		<div class="form-group" 
			ng-class="{ 'has-error': (form.employeeId.$dirty && form.employeeId.$error.required )||
			( form.employeeId.$dirty && form.employeeId.$error.pattern)}">
			<label for="employeeId">Employee ID*</label> <input type="text"
				name="employeeId" id="employeeId" class="form-control"
				ng-model="vm.user.empId" 
				required 
				ng-pattern="/^[-+]?[0-9]\d*$/"/> 
				<span
				ng-show="form.employeeId.$dirty && form.employeeId.$error.required"
				class="help-block">Employee Id is required</span>
				<span
				ng-show="form.employeeId.$dirty && form.employeeId.$error.pattern"
				class="help-block">Employee Id should be Numeric</span>
        </div></div>
        
            <div class="col-xs-6 ">
		  <div class="form-group"
			ng-class="{ 'has-error': form.role.$dirty && form.role.$error.required }">
			   <label for="role" >Role*</label> 
	
		   <select  name="role" 
		            id="role" 
		            class="form-control" 
			        ng-model="vm.user.role"   
			        required
		            ng-options="role as role.description for role in vm.role track by role.id" >
		            <option value="">Select Role</option>
		            </select>
		     <span
				ng-show="form.role.$dirty && form.role.$error.required"
				class="help-block">Role is required</span>
			</div>
        </div>
        </div>
          <div class="col-xs-12 ">
        <div class="col-xs-6 ">
		<div class="form-group"
			ng-class="{ 'has-error': form.doj.$dirty && form.doj.$error.required }">
			<div>
			   <label for="doj">Date of Joining*</label> 
			<input type="date"
				name="doj" id="doj" class="form-control datepicker"
				ng-model="vm.user.dateOfJoin" required max="{{vm.todaysDate}}"
				 /> <span
				ng-show="form.doj.$dirty && form.doj.$error.required"
				class="help-block">Date of Joining is required</span>
			</div>
        </div>
        </div>
			 <div class="col-xs-6 ">
			   <label for="gender" >Gender</label> 
		    <select name="gender" id="gender"
			ng-model="vm.user.sex" class="form-control">
			    <option value="">Select Gender</option>
                <option ng-repeat="gender in vm.gender" value={{gender}}>{{gender}}</option>
		    </select>
			</div>
			</div>
            
    
          <div class="col-xs-12 ">
        <div class="col-xs-12 ">
			<div class="form-group"
			ng-class="{ 'has-error': (form.email.$dirty && form.email.$error.required )|| (form.email.$dirty && form.email.$error.pattern) }">
			<label for="email">Email*</label> <input type="text"
				name="email" id="email" class="form-control"
				ng-model="vm.user.email" 
				required 
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/><span
				ng-show="(form.email.$dirty && form.email.$error.required)"
				class="help-block">Email is required</span>
				<span
				ng-show=" (form.email.$dirty && form.email.$error.pattern)"
				class="help-block">Email is wrong</span>
                </div>
        </div>
        </div>
          <div class="col-xs-12 ">
          <div class="col-xs-12 ">
			<div class="form-group"
			ng-class="{ 'has-error': (form.contactNumber.$dirty && form.contactNumber.$error.required) || 
			          form.contactNumber.$dirty && form.contactNumber.$error.pattern }">
			<label for="contactNumber">Contact Number</label> 
			<input 
			    type="text"
				name="contactNumber" 
				id="contactNumber" 
				class="form-control"
				ng-model="vm.user.phone" 
				ng-pattern="/^[7-9]{1}[0-9]{9}$/"  />
			    <span
				ng-show="form.contactNumber.$dirty && form.contactNumber.$error.required"
				class="help-block">Contact Number is required</span>
				<span
				ng-show="form.contactNumber.$dirty && form.contactNumber.$error.pattern"
				class="help-block">Contact Number is wrong</span>
        </div></div></div>
        
            
            <br>
        <br>
                     <div class="col-xs-12 ">
             <div class="col-xs-12 ">
   		<div class="text-right form-actions">
			<button type="submit" 
				class="btn btn-primary"> <i class="glyphicon glyphicon-ok"></i>Register</button>
			<button class="btn btn-danger" ng-click="vm.cancelRegisterData() ">
						<i class="glyphicon glyphicon-remove"></i> Cancel
					</button>
		</div>
        </div></div>
           
	</form>
</div>