<div class="container-fluid">
	<div class="or-page-header">Change Password</div>
	<div layout="row">
		<div flex>
		</div>
		<div flex>
			<form name="passwordForm" class="change-pwd-form">
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Old Password</label>
						<input type="{{$oldPassword ? 'input':'password'}}" name="oldPassword" ng-model="ctrl.data.oldPassword" required tabindex="1"/>
						<md-icon md-font-icon="fa fa-eye" ng-click="$oldPassword = !$oldPassword" ng-class="{'fa-eye-slash': $oldPassword}" tabindex="-1"></md-icon>
						<div ng-messages="(passwordForm.$submitted || passwordForm.oldPassword.$touched) && passwordForm.oldPassword.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>New Password</label>
						<!-- <input type="{{$newPassword ? 'input':'password'}}" name="newPassword" ng-model="ctrl.data.newPassword" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/"/> -->
						<input type="{{$newPassword ? 'input':'password'}}" name="newPassword" ng-model="ctrl.data.newPassword" required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/"
						 equals-to="ctrl.data.oldPassword" tabindex="2" />
						<md-icon ng-class="{'fa-eye-slash': $newPassword}" md-font-icon="fa fa-eye" ng-click="$newPassword = !$newPassword" tabindex="-1"></md-icon>
						<div ng-messages="(passwordForm.$submitted || passwordForm.newPassword.$touched) && passwordForm.newPassword.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="pattern">Should contain minimum 8 characters, atleast 1 uppercase, 1 lowercase, 1 digit, 1 special character @$!%*?& </div>
							<div ng-message="equalsTo">New password can not be as same as old password.</div>
						</div>
					</md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Confirm Password</label>
						<input type="{{$confirmPassword ? 'input':'password'}}" name="confirmPassword" ng-model="ctrl.data.confirmPassword" required
						 notequals-to="ctrl.data.newPassword" tabindex="3" />
						<md-icon md-font-icon="fa fa-eye" ng-click="$confirmPassword = !$confirmPassword" ng-class="{'fa-eye-slash': $confirmPassword}" tabindex="-1"></md-icon>
						<div ng-messages="(passwordForm.$submitted || passwordForm.confirmPassword.$touched) && passwordForm.confirmPassword.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="notequalsTo">Passwords do not match.</div>
						</div>
					</md-input-container>
				</div>

				<div layout-gt-sm="row">
					<md-button tabindex="6" ng-click="ctrl.clearForm(passwordForm)" class="md-raised md-default">
						<i class="fa fa-eraser"> </i> Clear
					</md-button>
					<span flex></span>
					<md-button tabindex="4" ng-click="ctrl.update(passwordForm)" class="md-raised md-primary">
						<i class="fa fa-floppy-o"> </i> Submit
					</md-button>
					<md-button tabindex="5" ng-click="ctrl.cancel()" class="md-raised md-secondary" ng-if="!ctrl.isFirstLogin">
						<i class="fa fa-times"> </i> Cancel
					</md-button>
				</div>

			</form>
		</div>
		<div flex>
		</div>
	</div>
</div>